# Compiled Object files
*.o
*.obj
*.exe
*.out
*.app

# Visual Studio files
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.idb
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
x64/
x86/
Debug/
Release/
*.opendb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake-build-*/
build/
out/

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

